<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.29.0" newVersion="4.3.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Essential.Diagnostics.Core" publicKeyToken="9d041bca93991466" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
<system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics.ColoredConsoleTraceListener" template="{DateTime:HH':'mm':'ssZ} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}" convertWriteToEvent="true">
        <!--
          Writes to the console output or error stream, using color to highlight 
          event types and allowing a customised output format.
          
          Options:
            initalizeData="false to use Console.Out|true to use Console.Error"
            traceOutputOptions="template (see below) is generally better, but supported for legacy compatibility"
            activityTracingColor="Gray|other console color"
            convertWriteToEvent="false|true"
            criticalColor="Red|other console color"
            errorColor="DarkRed|other console color"
            informationColor="Gray|other console color"
            resumeColor="console color"
            startColor="console color"
            stopColor="console color"
            suspendColor="console color"
            template="format template, default: {Source} {EventType}: {Id} : {Message}"
            transferColor="console color" 
            verboseColor="DarkCyan|other console color"
            warningColor="Yellow|other console color" 
  
          Children:
            <filter 
              type="Essential.Diagnostics.ExpressionFilter, Essential.Diagnostics.Core"
              initializeData=' Id >= 8000 ' />
        -->
      </add>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="TestsLog.svclog" traceOutputOptions="LogicalOperationStack,Callstack" />
      <add name="xmla" type="System.Diagnostics.XmlWriterTraceListener" initializeData="TestsLog-Net40.svclog" traceOutputOptions="LogicalOperationStack,Callstack" />
      <add name="xmlb" type="System.Diagnostics.XmlWriterTraceListener" initializeData="TestsLog-asd.svclog" traceOutputOptions="LogicalOperationStack,Callstack" />
    </sharedListeners>
  
    <sources>
      <source name="Dccelerator.TraceSourceAspects" switchValue="All,ActivityTracing">
        <!--
          Add listener to source. Use named switches for multiple sources; switch values can be names, decimal, or hexadecimal.
        -->
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="xml" />
        </listeners>
      </source>
      
      <source name="Dccelerator.Specifications.Net40" switchValue="All,ActivityTracing">
        <!--
          Add listener to source. Use named switches for multiple sources; switch values can be names, decimal, or hexadecimal.
        -->
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="xmla" />
        </listeners>
      </source>
  
      <source name="asd" switchValue="All,ActivityTracing">
        <!--
          Add listener to source. Use named switches for multiple sources; switch values can be names, decimal, or hexadecimal.
        -->
        <listeners>
          <clear />
          <add name="coloredconsole" />
          <add name="xmlb" />
        </listeners>
      </source>
  
    </sources>
  
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--
          Also add listener for legacy Trace.Write() statements (not using a TraceSource).
          For performance also clear the default listener, and turn indent off to avoid confusion for multithreaded traces.
        -->
        <clear />
        <add name="coloredconsole" />
      </listeners>
    </trace>
  </system.diagnostics>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client" />
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
</DbProviderFactories>
</system.data>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>